{% extends "layout2.html" %}
{% block content %}
    <div class = "content-section">
        <form method = "POST" action = "">
            {{ form.hidden_tag() }}
            <fieldset class = "form-group">
                <legend class = "border-bottom mb-4">Add or Update an Exercise.</legend>
                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}
                    {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.day.label(class="form-control-label") }}
                    {% if form.day.errors %}
                        {{ form.day(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.day.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.day(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.num_sets.label(class="form-control-label") }}
                    {% if form.num_sets.errors %}
                        {{ form.num_sets(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.num_sets.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.num_sets(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.num_reps.label(class="form-control-label") }}
                    {% if form.num_reps.errors %}
                        {{ form.num_reps(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.num_reps.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.num_reps(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.difficulty.label(class="form-control-label") }}
                    {% if form.difficulty.errors %}
                        {{ form.difficulty(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.difficulty.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.difficulty(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class = "form-group">
                {{ form.submit(class = "btn btn-outline-info")}}
            </div>
        </form>
    </div>


{% endblock content %}