{% extends "layout.html" %}
{% block content %}

      <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <h4>Meal Log for {{ today.strftime('%B %d, %Y') }}</h4>
          </div>
            <p>Number of Meals Today: {{ meals|length }}</p>
            {% if sorted_meals|length <= 1 %}
            <p>Add more entries to your meal log to see details about your eating habits for the day!</p>

            {% else %}
            <ul>
              <li><p><strong>Meal with Least Calories:</strong> {{ sorted_meals[0].description }} with {{ sorted_meals[0].calories }} cal. ({{ sorted_meals[0].protein }}p/{{ sorted_meals[0].carbs }}c/{{ sorted_meals[0].fat }}f)</p></li>
              <li><p><strong>Meal with Most Calories:</strong> {{ sorted_meals[-1].description }} with {{ sorted_meals[-1].calories }} cal. ({{ sorted_meals[-1].protein }}p/{{ sorted_meals[-1].carbs }}c/{{ sorted_meals[-1].fat }}f)</p></li>
              <a href="" class="button_v1"><span>Caloric Trend</span></a>
              <a href="" class="button_v1"><span>Macro Trend</span></a>

            {% endif %}
        </div>
      </article>

    {% for meal in meals %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='images/' + meal.food_type) }}">
          <div class="media-body">
            <div class="article-metadata">
              <h4>{{ meal.description }}</h4>
            </div>
            <ul>
              <li><p>Protein Content: {{ meal.protein }}g</p></li>
              <li><p>Carbohydrate Content: {{meal.carbs }}g</p></li>
              <li><p>Fat Content: {{ meal.fat }}g</p></li>
              <li><p>Approximate Calories: {{ meal.calories }} cal.</p></li>
            </ul>
            <small class="text-muted">Meal Time: {{ meal.time.strftime('%m/%d/%Y %I:%M %p') }}</small>
            <div>
            <small class="text-muted"><a href="{{ url_for('update_meal', meal_id = meal.id) }}">Edit</a> or <a href="{{ url_for('delete_meal', meal_id = meal.id) }}" onclick="return confirm('Are you sure you want to delete this entry?')">delete</a> this entry.</small>
          </div>
          </div>
        </article>

    {% endfor %}




{% endblock content %}

{% block content1 %}

    <div class="col-md-4">
        <div class="content-section1">
         <h3>{{ current_user.first_name }}'s Meal Log.</h3>
         <p class='text-muted'>View and organize your meals here.
            <ul class="list-group">
              <a href="{{ url_for('new_meal2') }}" class="button3">
                <span>Add a Meal</span></a>
              <a href="{{ url_for('view_macros') }}" class="button3">
                <span>View Your Macros</span></a>
              <a href="{{ url_for('nutrition') }}" class="button3">
                <span>View Your Nutrition</span></a>
              <a href="{{ url_for('nutrition_resources') }}" class="button3">
                <span>Resources</span></a>


            </ul>
         </p>
        </div>
    </div>

{% endblock content1 %}