{% extends 'layout2.html' %}
{% block content %}
    <div class = "content-section">
        <form method = "POST" action = "">
            {{ form.hidden_tag() }}
            <fieldset class = "form-group">
                <legend class = "border-bottom mb-4">Set Your Daily Macro Goals.
                </legend>
                <div class="form-group">
                    {{ form.day.label(class="form-control-label") }}
                    {% if form.day.errors %}
                        {{ form.day(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.day.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.day(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.protein.label(class="form-control-label") }}
                    {% if form.protein.errors %}
                        {{ form.protein(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.protein.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.protein(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.carbs.label(class="form-control-label") }}
                    {% if form.carbs.errors %}
                        {{ form.carbs(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.carbs.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.carbs(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.fat.label(class="form-control-label") }}
                    {% if form.fat.errors %}
                        {{ form.fat(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.fat.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.fat(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-check">
                    {{ form.set_all(class="form-check-input")}}
                    {{ form.set_all.label(class="form-check-label")}}
                </div>
            </fieldset>
            <div class = "form-group">
                {{ form.submit(class = "btn btn-outline-info")}}
            </div>
            <div class = "border-top pt-3">
                <small class = "text-muted">
                Confused About Macros? Visit the Nutrition <a href = "url_for {{ 'nutrition_resources' }}">Resources</a> page.
                </small>
            </div>
        </form>
    </div>
{% endblock content %}