{% extends "layout.html" %}
{% block content %}

<p>{{ day }}</p>

{% endblock content %}

{% block content1 %}

    <div class="col-md-4">
        <div class="content-section1">
         {%  if current_user.is_authenticated %}
         <h3>{{ current_user.first_name }}'s Workouts.</h3>
         <p class='text-muted'>Description.
            <ul class="list-group">
              <a href="{{ url_for('view_schedule') }}" class="button3">
                <span>View Your Schedule</span></a>
              <a href="{{ url_for('add_exercise1') }}" class="button3">
              	<span>Add an Exercise</span></a>
              <a href="" class="button3">
                <span></span></a>
              <a href="" class="button3">
              	<span>Exercise Database</span></a>
         {% else %}
          <h3>Your Nutrition, Simplified.</h3>
          <p class='text-muted'>Easily log and track your nutritional data so you can maximize your workouts and ....
            <ul class="list-group">
              <a href="{{ url_for('set_macros') }}" class="button3">
                <span>Set Macros</span></a>
              <a href="{{ url_for('new_meal1') }}" class="button3">
                <span>Add a Meal</span></a>
              <a href="{{ url_for('meal_log') }}" class="button3">
                <span>Meal Log</span></a>
              <a href="{{ url_for('nutrition_resources') }}" class="button3">
                <span>Resources</span></a>
          {% endif %}
            </ul>
         </p>
        </div>
    </div>

{% endblock content1 %}