{% extends "layout.html" %}
{% block content %}
    {%  if current_user.is_authenticated %}

    {% for macro in macros %}
      <article class="media content-section">
        <!-- All images and logos used in this file are fully credited to http://www.flaticon.com. -->
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='images/' + macro.day + '.png') }}">
        <div class="media-body">
          <div class="article-metadata">
            <h4>{{ macro.day }}</h4>
          </div>
          {% if macro.protein == -1 %}
          <p>You have not set your macros for this day yet. Click <a href="{{ url_for('set_macros2', weekday = macro.day) }}">here</a> to set your macros for {{ macro.day }}.</p>
          {% else %}
          <ul>
            <li><strong>Protein:</strong> {{ macro.protein }}g</li>
            <li><strong>Carbs:</strong> {{ macro.carbs }}g</li>
            <li><strong>Fat:</strong> {{ macro.fat }}g</li>
            <li><strong>Calories:</strong> {{ macro.calories }} cal.</li>
          </ul>
          {% endif %}
          <small class="text-muted"><a href="{{ url_for('set_macros2', weekday = macro.day) }}">Edit {{ macro.day }}'s Macros</a></small>
        </div>
      </article>

    {% endfor %}

    {% else %}

    <h2>Error</h2>

{% endif %}

{% endblock content %}

{% block content1 %}

    <div class="col-md-4">
        <div class="content-section1">
         {%  if current_user.is_authenticated %}
         <h3>{{ current_user.first_name }}'s Macros.</h3>
         <p class='text-muted'>View, edit, and organize your macros for the week.
            <ul class="list-group">
              <a href="{{ url_for('set_macros') }}" class="button3">
              	<span>Set Your Macros</span></a>
              <a href="{{ url_for('nutrition') }}" class="button3">
                <span>View Your Nutrition</span></a>
              <a href="{{ url_for('new_meal1') }}" class="button3">
                <span>Add a Meal</span></a>
              <a href="{{ url_for('meal_log') }}" class="button3">
                <span>View Your Meal Log</span></a>
              <a href="{{ url_for('nutrition_resources') }}" class="button3">
              	<span>Resources</span></a>
         {% else %}
          <h3>Your Nutrition, Simplified.</h3>
          <p class='text-muted'>Easily log and track your nutritional data so you can maximize your workouts and ....
            <ul class="list-group">
              <a href="{{ url_for('set_macros') }}" class="button3">
                <span>Set Macros</span></a>
              <a href="{{ url_for('new_meal1') }}" class="button3">
                <span>Add a Meal</span></a>
              <a href="{{ url_for('meal_log') }}" class="button3">
                <span>Meal Log</span></a>
              <a href="{{ url_for('nutrition_resources') }}" class="button3">
                <span>Resources</span></a>
          {% endif %}
            </ul>
         </p>
        </div>
    </div>

{% endblock content1 %}